---
const cecotec = {
  title: "Cecotec Batidoras De Pedestal",
  name: "Cecotec",
  description: "INNOVACIÓN PARA TU HOGAR",
  photoUrl:
    "https://www.storececotec.com/img/cms/conga-excellence-990-cecotec17%20(4).jpg",
  logo: "/images/logos/svg/cecotec.svg",
  href: "/cecotec",
  hrefProducts: "cecotec/amasadoras",
};
import Main from "@layouts/Main.astro";
import { getCollection, getEntries } from "astro:content";
import CardProduct from "@components/CardProduct.astro";
export const listProducts = await getCollection(
  "batidora-de-pedestal",
  ({ data }) => {
    return data.marca === "Cecotec";
  }
);
---

<Main title={cecotec.title} description={cecotec.description}>
  <h1 class="text-3xl">{cecotec.title}</h1>
  <section class="flex flex-col gap-8">
    <article class="md:col-span-2 flex flex-col gap-4">
      <p class="text-xl">
        Se dedican a la fabricación y comercialización de aplicaciones para el
        hogar enfocadas a mejorar la vida de las personas. Cuentan con una
        amplia gama de productos: robots aspiradores, robots de cocina,
        freidoras, menaje, descanso, fitness y ollas programables. Sus diseños
        facilitan las tareas en el hogar para que disfrutes de tu tiempo.
      </p>
    </article>
    <section class="md:col-span-1 flex flex-col gap-6">
      <h2 class="w-full pb-4 text-2xl">Productos de {cecotec.name}</h2>
      <div class="h-full grid md:grid-cols-4 gap-4 items-start justify-start">
        {listProducts.map((pro) => <CardProduct product={pro.data} />)}
      </div>
    </section>
  </section>
</Main>
