---
import GalleryAwa from "@components/GalleryAwa.astro";
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";

export const listproducts = await getCollection(
  "batidora-de-pedestal",
  ({ data }) => {
    return data.marca === "mesko";
  },
);
const mesko = {
  title: "Mesko Batidoras De Pedestal",
  name: "Mesko",
  description:
    "Potente batidora amasadora de 1200W con 6 velocidades, diseñada para ofrecer resultados óptimos al mezclar, amasar o batir. Incluye un bol de acero inoxidable de 3.5 litros con tapa antisalpicaduras, apto para lavavajillas. Su sistema planetario garantiza una mezcla uniforme, ideal para preparar masas de pan, pizza, pasteles y más. Viene equipada con múltiples accesorios: gancho para masas pesadas, gancho agitador, batidor, espátula y báscula de cocina. Con diseño robusto y seguro, cuenta con parada automática, ventosas antideslizantes y protección contra sobrecarga. Perfecta para cualquier amante de la repostería y cocina.",
  photoUrl: "",
  logo: "",
  href: "/mesko",
  hrefProducts: "mesko/amasadoras",
};
---

<Main
  title={mesko.title}
  description="Descubre la excelencia culinaria con nuestras batidoras de pedestal de marcas líderes."
>
  <section class="px-4 h-full">
    <h1 class="text-3xl">{mesko.title}</h1>
    <section class="flex flex-col gap-8 py-4">
      <article class="md:col-span-2 flex flex-col gap-4">
        <p class="text-xl">
          {mesko.description}
        </p>
      </article>
      <section class="md:col-span-1 flex flex-col gap-6">
        <h2 class="text-2xl pb-4">
          Batidoras Amasadoras {mesko.name}
        </h2>
        <GalleryAwa items={listproducts} />
      </section>
    </section>
  </section>
</Main>
