---
const bomann = {
  title: "Bomann",
  name: "Bomann",
  description:
    "La empresa familiar C. Bomann, fundada en Hamburgo hace más de 130 años, vende con éxito en el país y en el extranjero",
  photoUrl: "https://www.bomann.de/media/content/news/clatronic/c2.jpg",
  logo: "/images/logos/webp/bomann.webp",
  href: "/marcas/bomann",
  hrefProducts: "bomann/amasadoras",
};
import Main from "@layouts/Main.astro";
import { getCollection, getEntries } from "astro:content";
import CardProduct from "@components/CardProduct.astro";
export const products = await getCollection(
  "batidora-de-pedestal",
  ({ data }) => {
    return data.marca === "Bomann";
  },
);
---

<Main title={bomann.title} description={bomann.description}>
  <section class="px-4 h-full">
    <h1 class="text-3xl">{bomann.title}</h1>
    <section class="flex flex-col gap-8 py-4">
      <article class="md:col-span-2 flex flex-col gap-4">
        <p class="text-xl">
          Bomann es una empresa comercial líder en el mercado internacional con
          una amplia gama de productos que van desde exprimidores automáticos
          hasta cocinas eléctricas, lavavajillas, frigoríficos y congeladores,
          lavadoras, secadoras y exprimidores de cítricos.
        </p>
      </article>
      <section class="md:col-span-1 flex flex-col gap-6">
        <h2 class="text-2xl pb-4">
          Batidoras Amasadoras {bomann.name}
        </h2>
        <div class="grid md:grid-cols-4 gap-y-16 gap-x-8">
          {products.map((pro) => <CardProduct product={pro.data} />)}
        </div>
      </section>
    </section>
  </section>
</Main>
