---
const { product } = Astro.props;
import HeaderLink from "./HeaderLink.astro";
import LinkNoFollow from "./LinkNoFollow.astro";
---

<article
  class="bg-stone-200 flex flex-col shadow-md shadow-stone-500 rounded-md"
>
  <header>
    <HeaderLink
      target="_blank"
      href={product.photoProduct}
      title={product.title}
      class="p-0"
    >
      <img
        src={product.photoProduct}
        alt={product.title}
        class="max-h-52 w-full object-cover"
      />
    </HeaderLink>
  </header>
  <section class="p-2">
    <h3 class="text-xl font-bold text-wrap">
      {product.title}
    </h3>
  </section>
  <footer
    class="h-full flex flex-col my-2 md:flex-row md:items-end justify-between px-4 gap-y-4"
  >
    <LinkNoFollow styleBtn="build" toUrl={product.urlProduct} />
    <a
      class="py-2 px-4 text-xl md:text-[1.1rem] font-bold hover:underline"
      href={product.href}
      title={product.title}
    >
      Ver Detalles
    </a>
  </footer>
</article>
