---
const { product } = Astro.props;
import HeaderLink from "./HeaderLink.astro";
import LinkNoFollow from "./LinkNoFollow.astro";
---

<article
  class="bg-stone-200 shadow-xl rounded-md hover:shadow-inner overflow-hidden"
>
  <header>
    <HeaderLink
      target="_blank"
      href={product.photoProduct}
      title={product.title}
    >
      <img
        src={product.photoProduct}
        alt={product.title}
        class="w-full h-40 aspect-video object-cover"
      />
    </HeaderLink>
  </header>
  <section class="p-4">
    <h3>{product.title}</h3>
  </section>
  <footer class="flex items-center justify-between px-4">
    <HeaderLink
      btn="button:detalles"
      class="text-md"
      href={product.href}
      title={product.title}
    >
      Ver más
    </HeaderLink>
    <LinkNoFollow styleBtn="build" toUrl="https://amzn.to/424FnqZ" />
  </footer>
</article>
