---
const familyCare = {
  title: "Family Care Batidoras De Pedestal",
  name: "Family Care",
  description: "Disfruta con los tuyos, nosotros nos encargamos del resto.",
  photoUrl:
    "https://m.media-amazon.com/images/S/stores-image-uploads-eu-prod/a/AmazonStores/A1RKKUPIHCS9HS/586f7a0f994896904f12f4ab78fee65e.w1500.h750._CR0%2C0%2C1500%2C750_SX960_SY480_.jpg",
  logo: "/images/logos/webp/family-care.webp",
  href: "/family-care",
  hrefProducts: "family-care/amasadoras",
};
import Main from "@layouts/Main.astro";
import { getCollection, getEntries } from "astro:content";
import CardProduct from "@components/CardProduct.astro";
import GalleryAwa from "@components/GalleryAwa.astro";
export const listproducts = await getCollection(
  "batidora-de-pedestal",
  ({ data }) => {
    return data.marca === "family-care";
  },
);
---

<Main title={familyCare.title} description={familyCare.description}>
  <h1 class="text-3xl px-4">{familyCare.title}</h1>
  <section class="flex flex-col gap-8 px-4">
    <article class="md:col-span-2 flex flex-col gap-4">
      <p class="text-xl">
        Family Care es una marca española especializada en productos para el
        hogar, formada por un equipo joven, dinámico y con experiencia, su
        objetivo fundamental es ofrecer productos únicos, para lo cual, los
        diseñan teniendo en cuenta las últimas tendencias
      </p>
    </article>
    <section class="md:col-span-1 flex flex-col gap-6">
      <h2 class="text-2xl pb-4">Productos de {familyCare.name}</h2>
      <GalleryAwa items={listproducts} />
    </section>
  </section>
</Main>
