---
const bomann = {
  title: "Family Care Batidoras De Pedestal",
  name: "Family Care",
  description: "Disfruta con los tuyos, nosotros nos encargamos del resto.",
  photoUrl:
    "https://m.media-amazon.com/images/S/stores-image-uploads-eu-prod/a/AmazonStores/A1RKKUPIHCS9HS/586f7a0f994896904f12f4ab78fee65e.w1500.h750._CR0%2C0%2C1500%2C750_SX960_SY480_.jpg",
  logo: "/images/logos/webp/family-care.webp",
  href: "/family-care",
  hrefProducts: "family-care/amasadoras",
};
import Main from "@layouts/Main.astro";
import { getCollection, getEntries } from "astro:content";
import CardProduct from "@components/CardProduct.astro";
export const products = await getCollection(
  "batidora-de-pedestal",
  ({ data }) => {
    return data.marca === "family-care";
  }
);
---

<Main title={bomann.title} description={bomann.description}>
  <h1 class="text-2xl">{bomann.title}</h1>
  <section class="grid md:grid-cols-3 gap-8">
    <article class="md:col-span-2 flex flex-col gap-4">
      <p class="text-xl">
        C. Bomann GmbH, que forma parte del grupo Clatronic desde 1997, es una
        empresa comercial líder en el mercado internacional con una amplia gama
        de productos que van desde exprimidores automáticos hasta cocinas
        eléctricas, lavavajillas, frigoríficos y congeladores, lavadoras y
        secadoras. , a Z para exprimidores de cítricos.
      </p>
      <p class="text-xl">
        Desde nuestro centro logístico con más de 100.000 m² de espacio de
        almacenamiento, el grupo de empresas abastece a todos los principales
        canales de distribución y socios comerciales nacionales e
        internacionales.
      </p>
      <a
        target="_blank"
        href={bomann.photoUrl}
        title={bomann.name.toUpperCase()}
      >
        <img src={bomann.photoUrl} alt={bomann.name.toUpperCase()} />
      </a>
      <iframe
        class="aspect-video"
        width="100%"
        height="512"
        src="https://www.youtube.com/embed/9a-mQUvoyUE?si=L0ZCTvzNRNCQZZmU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </article>
    <section class="md:col-span-1 flex flex-col gap-6">
      <h2 class="w-full pb-4">Productos de {bomann.name}</h2>
      <div class="h-full grid md:grid-cols-2 gap-4 items-start justify-start">
        {products.map((pro) => <CardProduct product={pro.data} />)}
      </div>
    </section>
  </section>
</Main>
